html, body {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    background-color: black;
}

.site {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.logo {
    max-width: 800px;
    margin-bottom: 40px;
}

.text {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
    font-family: "Roboto", sans-serif;
    text-align: left;
}

.cashapp {
    color: #00D54B;
}